/* RESPONSIVE GRID SYSTEM =============================================================================  */

/* BASIC PAGE SETUP ============================================================================= */
@font-face{
	font-family: mvboli;
	src: url(fonts/mvboli.ttf);
}
* {
	margin: 0;
}
html{
height: 100%;
}	
body{ 
	height: 100%;
	padding : 0;
	font : 100%/1.4 'lucida sans unicode', 'lucida grande', 'Trebuchet MS', verdana, arial, helvetica, helve, sans-serif; 	
	color : #000; 
	text-align: center;
}
#wrapper{
	width: 100%;
	position: relative;
	text-align: left;
	text-align:center;
	margin-left : auto;
	margin-right:auto;
	min-height:100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -60px;
	background-color:#e7e9db;
}

#header-container{
	background-image:url(../img/layout/bg_lehdet.jpg), url(../img/layout/bg-header-container.png);
	width: 100%;
	text-align:center;
	min-height:430px;
	background-position: center top;
	background-repeat: no-repeat, repeat-x;
}

#header-content{
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	max-width:1000px;
	width:90%;
}

.group{
	z-index:1;position:relative;
}

header{
    margin: 0 auto;
    text-align: left;
	margin-top:0;
	min-height:130px;
	min-width:300px;
	width:40%;
	height:10%;
	background-color:#ff9685;
	background-image:url(../img/layout/kasvihuoneet-logo.png);
	background-position: center top;
	background-repeat: no-repeat;	
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	-webkit-box-shadow:  0px 10px 10px 0px rgba(0, 0, 0, 0.5);
	box-shadow:  0px 10px 10px 0px rgba(0, 0, 0, 0.5);

}

nav{
	padding-top: 15px;
	padding-bottom: 6px;
}

nav a{
	color: #5c3e3e;
	font: bold 1.3em/1 "mvboli","Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	padding: 8px 0;
	text-align: center;
	text-shadow: 0 1px 0 #eee;
	text-decoration:none;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}
nav a div{
	padding:6px;
}
nav a:hover p{
	color:#fff;
	text-shadow: 1px 1px 0 #000;
}

/*content*/
#float-box{
	clear:both;
	text-align:center;
	background-color:#e6eed9;
	float:left;
	z-index:2;
	position:relative;
	border: 8px solid white;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	min-width:200px;
	width:100%;
	margin-bottom:15px;
	-webkit-box-shadow:  0px 5px 5px 0px rgba(0, 0, 0, 0.2);
	box-shadow:  0px 5px 5px 0px rgba(0, 0, 0, 0.2);	
	
}

#imageBox{
	/*width:100%;*/
	/*background-color:red;*/
}

.navButton{
	background-color:#dbe7bc;
	height:30px;
	font-family:mvboli;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;	
	-webkit-box-shadow:  0px 5px 5px 0px rgba(0, 0, 0, 0.2);
	box-shadow:  0px 5px 5x 0px rgba(0, 0, 0, 0.2);
}

.mainKasvihuone{
	border:2px solid black;
    -webkit-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: : 0px 2px 2px 0px  rgba(0,0,0,0.2);
    box-shadow: : 0px 2px 2px 0px  rgba(0,0,0,0.2);	
}

/* navi buttons */
.clean-gray {
	-webkit-box-shadow:  0px 5px 5px 0px rgba(0, 0, 0, 0.2);
	box-shadow:  0px 5px 5x 0px rgba(0, 0, 0, 0.2);
    background-color: #d2e3a3;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d2e3a3), color-stop(100%, #e3ead0));
    background-image: -webkit-linear-gradient(top, #d2e3a3, #e3ead0);
    background-image: -moz-linear-gradient(top, #d2e3a3, #e3ead0);
    background-image: -ms-linear-gradient(top, #d2e3a3, #e3ead0);
    background-image: -o-linear-gradient(top, #d2e3a3, #e3ead0);
    background-image: linear-gradient(top, #d2e3a3, #e3ead0);
	border: 1px solid #ccc;
	border-bottom: 1px solid #bbb;
	border-radius: 3px;

 }
 
.clean-gray:hover {
    background-color: #ff9686;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff9686), color-stop(100%, #ffcdc5));
    background-image: -webkit-linear-gradient(top, #ff9686, #ffcdc5);
    background-image: -moz-linear-gradient(top, #ff9686, #ffcdc5);
    background-image: -ms-linear-gradient(top, #ff9686, #ffcdc5);
    background-image: -o-linear-gradient(top, #ff9686, #ffcdc5);
    background-image: linear-gradient(top, #ff9686, #ffcdc5);
    border: 1px solid #bbb;
    border-bottom: 1px solid #999;
    cursor: pointer;
    text-shadow: 0 1px 0 #ddd;
}

.clean-gray:active {
	
    border: 1px solid #aaa;
    border-bottom: 1px solid #888;
    -webkit-box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
    box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
}


.clean-gray a:hover{
	
	text-decoration:none;
}

.margin-top-zero{
	margin-top:0em;
}

#head-content-separator{
	width:100%;
	border-bottom:1px solid black;
	background:#fff;
	height:7px;
    -webkit-box-shadow: 1px 2px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 1px 2px 2px rgba(0,0,0,0.2);
    box-shadow: 1px 3px 2px rgba(0,0,0,0.2);	
}

#maincontentcontainer{
	width: 100%; /* 1000px / 1250px */
	background:#e7e9db;
	
}
.promoCols div{

}
.promoCols h2{
	font-family:mvboli;
	font-size:1.1em;
	text-align:left;
}

.promoCols p{
	font-family:mvboli;
	font-size:1.0em;
	text-align:left;
	max-width:400px;
}
.promoCols span{
	float:left; 
}

#main-content{
	margin-left:auto;
	margin-right:auto;
	max-width:1000px;
	width:90%;
}
#push{
	background-color:#e7e9db;
	height:60px;
}
#footer-container{
	position:relative;
	clear:both;
	height:60px;
    background-color: #bedf59;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #bedf59), color-stop(100%, #96cb43));
    background-image: -webkit-linear-gradient(top, #bedf59, #96cb43);
    background-image: -moz-linear-gradient(top, #bedf59, #96cb43);
    background-image: -ms-linear-gradient(top, #bedf59, #96cb43);
    background-image: -o-linear-gradient(top, #bedf59, #96cb43);
    background-image: linear-gradient(top, #bedf59, #96cb43);
}
#footer-content{
	padding-top:10px;
	margin-left:auto;
	margin-right:auto;
	max-width:1000px;
	width:90%;
}
.neliometri{
	vertical-align:super;
	font-size:0.8em;
}
.speksiTaulukko tr td:first-child{
	font-weight:bold;
}

.promoCols img{
	height:70px;
	padding-bottom:30px;
}
.detailKuvaus{
	text-align:left;
	padding-bottom:10px;
}
.detailHeading{
	font-family:mvboli;
	font-size:1.4em;
	padding-bottom:15px;
}
.detailImg{
	border:1px solid black;
	-webkit-box-shadow:  2px 2px 6px 0px rgba(0, 0, 0, 0.5);
	box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.5);	
}

.otsikko{
	font-family:mvboli;
	font-size:1.4em;
}

.listausTaulukko{
	border-collapse: collapse;
	border-spacing: 0;
	margin-bottom:15px;
}
.listausTaulukko a, .listausTaulukko a:visited{
	color:#000;
	text-decoration:none;
}
.listausTaulukko a:hover{
	color:#5c3e3e;
	text-decoration:underline;
}
.listausTaulukko tr:first-child:hover td{
   background-color: #f10;
}
.listausTaulukko tr:hover td{
   background-color: #d2e99d;
}

.listausTaulukko th{
	width:22%;   background-color: transparent;
}
.listausTaulukko th:first-child{
	width:8%;
}

.listausTaulukko tbody tr:nth-child(even) {
   background-color: #c9d9a3;
}

.listausTaulukko tbody tr:nth-child(2) {
   background-color: transparent;
}
.listausImg{
	border:1px solid black;
    -webkit-box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: : 0px 2px 2px 0px  rgba(0,0,0,0.2);
    box-shadow: : 0px 2px 2px 0px  rgba(0,0,0,0.2);		
}