<div  style="width:98%; margin-left:auto;margin-right:auto;">
	<div class="col span_6_of_12">
		<img ng-src="{{mainImageUrl}}" class="detailImg" style="width:99%;">
	</div>

	<div class="col span_6_of_12"> 
		<h2 class="detailHeading">{{kasvihuone.name}}</h2>

		<p class="detailKuvaus" style="">{{kasvihuone.kuvaus}}</p>

		<table class="speksiTaulukko" border="1" style="text-align:left;">
		<tr>
			<td>Koko:</td>
			<td>{{kasvihuone.koko}}m^2</td>
		</tr>
		<tr>
			<td>Pituus</td>
			<td>6m</td>
		</tr>
		<tr>
			<td>Leveys</td>
			<td>3m</td>
		</tr>
			<tr>
			<td>Hinta</td>
			<td>{{kasvihuone.hinta}}</td>
		</tr>
		</table>
	</div>
</div>