   <!--Kasvihuone yhdistetty tietonäkymä-->
<div id="float-box-content" class="" style="width:98%; margin-left:auto;margin-right:auto;">

	<table class="listausTaulukko">
		<tr>
			<th></th><th></th><th></th><th></th>
		</tr>
		<tr>
			<td>
			
			</td>
			<td ng-repeat="kasvihuone in kasvihuoneet | orderBy:orderProp">
				<a href="#/kasvihuoneet/tiedot/{{kasvihuone.id}}" class=""><img class="listausImg" style="width:98%" ng-src="{{kasvihuone.imageUrl}}"></a>
			</td>
		</tr>
		
		<tr>
			<td>Nimi</td>
			<td ng-repeat="kasvihuone in kasvihuoneet | orderBy:orderProp">
				<a href="#/kasvihuoneet/tiedot/{{kasvihuone.id}}">{{kasvihuone.name}}</a>
			</td>
		</tr>
		<tr>
			<td>Leveys</td>
			<td ng-repeat="kasvihuone in kasvihuoneet | orderBy:orderProp">
				<a href="#/kasvihuoneet/tiedot/{{kasvihuone.id}}"><p ng-init="huone=moro(kasvihuone.id)">{{huone.mitat.dimensio[0]}}</p></a>
				
			</td>
		</tr>	
		<tr>
			<td>Pituus</td>
			<td ng-repeat="kasvihuone in kasvihuoneet | orderBy:orderProp">
				<a href="#/kasvihuoneet/tiedot/{{kasvihuone.id}}"><p ng-init="huone=moro(kasvihuone.id)">{{huone.mitat.dimensio[1]}}</p></a>
				
			</td>
		</tr>
		<tr>
			<td>Korkeus</td>
			<td ng-repeat="kasvihuone in kasvihuoneet | orderBy:orderProp">
				<a href="#/kasvihuoneet/tiedot/{{kasvihuone.id}}"><p ng-init="huone=moro(kasvihuone.id)">{{huone.mitat.dimensio[2]}}</p></a>
				
			</td>
		</tr>
		<!--<tr>
			<td>Paino</td>
			<td ng-repeat="kasvihuone in kasvihuoneet | orderBy:orderProp">
				<a href="#/kasvihuoneet/tiedot/{{kasvihuone.id}}"><p ng-init="huone=moro(kasvihuone.id)">{{huone.mitat.paino}}</p></a>
				
			</td>
		</tr>	-->	
	</table>

</div>
