<!--Listaa kasvihuoneet-->
<div id="float-box-content" class="kasvihuone mainImg" style="width:98%; margin-left:auto;margin-right:auto;">
	<h2 class="otsikko">Ota yhteyttä</h2>

	<br/>
    <form name="hongkiat" id="hongkiat-form" method="post" ng-submit="sendMessage(message)">  
    <div id="wrapping" class="clearfix">  
        <section id="aligned">  
            <label for="name">Nimi</label>
			<input required type="text" name="name" id="name" placeholder="Nimesi" autocomplete="off" tabindex="1" class="txtinput">  
			<br/>
			<label for="email">Email</label>
			<input type="email" name="email" id="email" placeholder="Sähköpostiosoitteesti" autocomplete="off" tabindex="2" class="txtinput">
			<br/>
            <label for="telephone">Puh.</label>
			<input type="tel" name="telephone" id="telephone" placeholder="Puhelinnumero (valinnainen)" tabindex="4" class="txtinput">  
			<br/>
			<p class="formfield">
				<label for="message">Viesti</label>
				<textarea name="message" id="message" placeholder="Viesitisi" tabindex="5" class="txtblock"></textarea>  
			</p>
        </section>

		<br style="clear:both;">  
		<section id="buttons">  
			<input type="submit" name="submit" id="submitbtn" class="submitbtn" tabindex="7" disabled value="Ei käytössä vielä"> 
		</section>  
    </form>  		
	
	</div><br/>
