
      <!--Listaa kasvihuoneet-->
<div id="float-box-content" class="kasvihuone mainImg" style="width:98%; margin-left:auto;margin-right:auto;">
	<div class="col span_8_of_12 view view-first" id="imageBox">
		
		<img  ng-src="{{mainImg}}" class="mainKasvihuone mainImg" style="width:99%" />
		
		<div class="mask">
			<h2>{{huoneNimi}}<sup class="neliometri">2</sup></h2>
			<p>
				{{huoneKuvaus}}								
			</p>
			<a href="{{huoneUrl}}" class="info">Lue lis&auml;&auml;</a>
		</div>	
		
	</div>
	
	<div id="imageButtons" class="col span_4_of_12">

		<ul class="kasvihuoneet ca-menu">
			<li ng-click="setImage(kasvihuone)" ng-repeat="kasvihuone in kasvihuoneet | filter:query | orderBy:orderProp"  class="thumbnail ng-class:{'li-aktiivi': kasvihuone.id == selected, perus:kasvihuone.id != selected}">
				<a href="#/huone/{{kasvihuone.age}}">
					<!--<span class="ca-icon">F</span>-->
					<div class="ca-content">
						<h2 class="ca-main">{{kasvihuone.name}}<sup class="neliometri">2</sup></h2>
						<h3 class="ca-sub">{{kasvihuone.snippet}}</h3>
					</div>
				</a>
			</li>		
		</ul>
	</div>
</div>
