<!DOCTYPE html>
<!-- HTML5 Mobile Boilerplate -->
<!--[if IEMobile 7]><html class="no-js iem7"><![endif]-->
<!--[if (gt IEMobile 7)|!(IEMobile)]><!--><html class="no-js" lang="en" ng-app="kasvihuone" ng-controller="HtmlCtrl"><!--<![endif]-->

<!-- HTML5 Boilerplate -->
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" ng-app="kasvihuone"><!--<![endif]-->

<head ng-controller="HeadCtrl">
	<meta http-equiv='Content-Type' content='text/html; charset=utf-8'>
	<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>{{ Page.title() }}</title>
	<meta name="description" content="Kasvihuoneet">
	<meta name="keywords" content="kasvihuoneet">
 
	<meta name="author" content="">

	<meta http-equiv="cleartype" content="on">

	<link rel="shortcut icon" href="/favicon.ico">

	<!-- Responsive and mobile friendly stuff -->
	<meta name="HandheldFriendly" content="True">
	<meta name="MobileOptimized" content="320">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="lib/angular/angular.min.js"></script>
	<script src="js/app.js"></script>
	<script src="js/controllers.js"></script>
	<script src="js/filters.js"></script>
	<script src="js/services.js"></script>
	<script src="lib/angular/angular-resource.js"></script>
	<!-- Stylesheets -->
	<!--link rel="stylesheet" href="css/html5reset.css" media="all">-->
	<link rel="stylesheet" href="css/col.css" media="all">
	<link rel="stylesheet" href="css/12cols.css" media="all">
	<link rel="stylesheet" href="css/layout.css" media="all">
	<link rel="stylesheet" type="text/css" href="css/navi.css" />	
	<link rel="stylesheet" type="text/css" href="css/mask.css" />	
	<link rel="stylesheet" type="text/css" href="css/form.css" />		

	<!-- Responsive Stylesheets -->
	<link rel="stylesheet" media="only screen and (max-width: 1024px) and (min-width: 769px)" href="css/1024.css">
	<link rel="stylesheet" media="only screen and (max-width: 768px) and (min-width: 481px)" href="css/768.css">
	<link rel="stylesheet" media="only screen and (max-width: 480px)" href="css/480.css">

	<script src="js/modernizr-2.5.3-min.js"></script>

</head>

<body>


<div id="wrapper">


	<div id="header-container">
		<div id="header-content">
	
			<header class="margin-top-zero">
				<br/>
			</header>			
		
			<nav ng-controller="MainCtrl">
				<div class="section group">
					<div class="col span_2_of_12">
					</div>
					<a href="#" class="naviLink col span_2_of_12">
						<div class="clean-gray">
							<p>Etusivu</p>
						</div>
					</a>
					<a href="#/kasvihuoneet/huoneet/" class="naviLink col span_2_of_12" ng-click="avaaHuone2()">
						<div class="clean-gray">
							<p>Tietoja</p>
						</div>
					</a>
					<a href="#/kasvihuoneet/yhteys/" class="naviLink col span_2_of_12" ng-click="avaaHuone2()">
						<div class="clean-gray">
							<p>Yhteystiedot</p>
						</div>
					</a>
					<a href="http://www.ellens.fi" target="_blank" class="naviLink col span_2_of_12">
						<div class="clean-gray">
							<p>Kirpputori</p>
						</div>
					</a>
				</div>	
			</nav>
						
			<div id="float-box">
						<div ng-view></div>				
			</div>					
		</div>
	</div>
	<div id="head-content-separator">
	<br/>
	</div>
	<div id="maincontentcontainer" style="margin-left:28px;" >
		<div id="main-content">
			<div class="section group promoCols">
				<div class="col span_4_of_12 margin-top-zero">
					<span style="margin-right:15px;"><img src="img/icons/kasvihuone-runko.png"/></span>
					<h2>Kevyt alumiinirunko</h2>
					<p>
						Kasvihuoneiden materiaali on alumiinia ja polykarbonaattia.
					</p>				
				</div>
				<div class="col span_4_of_12 margin-top-zero">
					<span><img src="img/icons/kastelukannu.png"/></span>
					<h2>Tuoreempi on parempi</h2>
					<p>
						Nauti aina tuoreista, itse kasvatetuista kasviksista ja yrteist&auml;.
					</p>				
				</div>	
				<div class="col span_4_of_12 margin-top-zero">
					<span  style="margin-right:15px;"><img src="img/icons/kotiinkuljetus.png"/></span>
					<h2>Kotiinkuljetus</h2>
					<p>
						Mahdollisuus tilata kasvihuone suoraan kotiovellesi lisämaksua vastaan.
					</p>				
				</div>					
			</div>
		</div>
		<div id="push">
		</div>
	</div>
</div>

	<div id="footer-container">
		<div id="footer-content">
			copyright(c)2013
		</div>
	</div>



	<!-- JavaScript at the bottom for fast page loading -->

	<!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if necessary -->
	<!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>-->
	<!--<script>window.jQuery || document.write('<script src="js/jquery-1.7.2.min.js"><\/script>')</script>-->

	<!--[if (lt IE 9) & (!IEMobile)]>
	<script src="js/selectivizr-min.js"></script>
	<![endif]-->



</body>
</html>